// ==========================================================================
// Base Styles
// ==========================================================================

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

//Style container with media querry
.container{
	@include mq(small) {
		width: 90%;
		margin: 0 auto;
		text-align: center;
	}
	color: palette(grey);
	font-size: $base__font-size;
	font-family: $font-family--primary;
	line-height: ($base__line/$base__font-size);

	@include mq(medium) { 
		width: 80%; 
		margin: 0 auto;
		text-align: center;
		@include doubly(20px);
	  }
	
	@include mq(large) { 
		width: 70%; 
		margin: 0 auto;
		@include doubly(20px);
	  }
}

// nav description
.card {
	margin: 50px 0 em(30px, 18px);
	font-weight: $font-weight--light;
	font-size: em(20px);
	line-height: (27px/18px);
	text-align: left;
	text-decoration: none;

	@include mq(large){
		width: 80%;
	}
}

//blockquote
.blockquote {
	border-left: em(8px, 24px) solid $color-primary;
	border-radius: $br--default;
	margin: em(32px, 24px) 0;
	padding: 0 0 0 5%;
	@media (min-width: 769px) {
		margin: em(32px, 24px) 0;
		padding: 0 0 0 5%;
		font-size: em(20px);
	}
	font-weight: $font-weight--medium;
	font-style : italic;
	font-size : em(25px);
}








